#poi {
  &-wrapper {
    background: red;
    position: absolute;
    z-index: 999999;
    .center();
  }
  &-background {
  	background: url('/assets/img/modal-bg.jpg');
  	background-size: cover;
  }
}