.mfp-container {

  #content {

    &-box {
      box-shadow: 0 0 50px @black25;
    }
    
    .wrapper {

      @media @min {
        padding: @spaced;
      }

      @media @tablet {
        padding: @spaced*1.75;  
      }

      &-main {

        padding-bottom: @spaced*3;
        color: @white;
        background: url('/assets/img/modal-bg-top.jpg') bottom center no-repeat;
        background-size: cover;

        p:last-child {
          margin-bottom: 0;
        }

        h1,h2,h3,h4,h5,h6 {
          color: @white;
          margin-bottom: 10px;
        }

      }

    }

  }

}